In [92]:
def naturales(order):
    nat = ""
    for i in range(1,10**order):
        nat = nat + str(i)
    #print(nat)
    return nat

In [478]:
def digito(n, verbose=False):

    if n < 9:
        return str(n+1)

    inf = 9
    c = 1

    while inf + 9 * (c+1) *10**(c) < n:
        inf = inf + 9 * (c+1) *10**(c)
        c = c + 1
        #print(c, inf)

    c = c + 1
    m = n - inf
    x = m // c
    d_i = m % c
    number = 10**(c-1) + x
    #print(number, d_i)
    digit = str(number)[d_i]

    return digit

In [479]:
order = 5
word = naturales(order)

for i in range(10**(order-1)):
    d = digito(i)
    if word[i] != d:
        print(i, word[i], d)

In [480]:
word[205]

'0'

In [481]:
digito(205)

'0'

In [482]:
word[2048]

'9'

In [483]:
digito(2048)

'9'

In [485]:
digito(190)

'0'

In [486]:
digito(189)

'1'

In [489]:
for i in range(2885, 2895):
    print(i, digito(i))

2885 8
2886 9
2887 9
2888 9
2889 1
2890 0
2891 0
2892 0
2893 1
2894 0